include node:@haztivity/hz-navbar/src/_hzNavbar
-
    let options = {
        "quiz":{
            "randomize":true,
            "autoGoNext":true,
            "immediateFeedback":true,
            "showCorrection":false,
            "showResult":false,
            "delayOnAutoNext":1000,
            "quiz":{
                "header": {
                    "title": "My quiz",
                    "description": "Description for my quiz",
                    "actions":[
                        {
                            "type":"start",
                            "content":"Comenzar"
                        }
                    ]
                }
            }
        },
        "pages":{
            "6611":{
                "questions":[
                    {
                        "content":"Question 1",
                        "options":[
                            {
                                "name":"option11",
                                "content":"Option incorrect",
                                "isCorrect":false
                            },
                            {
                                "name":"option12",
                                "content":"Option correct",
                                "isCorrect":true
                            }
                        ]
                    }
                ]
            },
            "6622":{
                "questions":[
                    {
                        "content":"Question 2",
                        "options":[
                            {
                                "name":"option21",
                                "content":"Option incorrect",
                                "isCorrect":false
                            },
                            {
                                "name":"option22",
                                "content":"Option correct",
                                "isCorrect":true
                            }
                        ]
                    }
                ]
            }
        }
    }
div(
    data-hz-component="HzQuestionsForPages",
    data-opt-hz-questions-for-pages-options=options,
    data-opt-hz-questions-for-pages-toggler="#toggleQuestions"
)
    div(data-hz-questions-for-pages-quiz)
div(data-hz-pages)
+hz-navbar
